.brand{
    position: relative;
    margin-top: 150px;
}
.brand_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.brand_items:first-child{
    text-align: left;
    width: 100px;
}
.brand_items img{
    width: 67%;
} 

@media (max-width: 1440px) {
  
    .brand_item_list{
        display: flex;
        align-items: center;
    }
    .brand_headline{
        text-align: left;
        
    }
   
}

@media (max-width: 1280px) {
  
    .brand_item_list{
        display: flex;
    }
    .brand_headline{
        text-align: left;
        -ms-flex-align: start;
    }
   
}
@media (max-width: 1024px) {
    .brand_flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .brand_item_list{
        display: flex;
    }
    .brand_headline{
        text-align: left;
    }
   
}

@media (max-width: 960px) {
    .brand_flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .brand_item_list{
        display: flex;
    }
    .brand_headline{
        text-align: left;
    }
   
}


@media (max-width: 430px) {
    .brand{
        margin-top: 80px;
    }
   
   
}